<header fxLayoutAlign="space-between center">
  <div fxLayoutAlign="start center" fxLayoutGap="10px">
    <img src="assets/logo.png" [style.height]="'40px'"><h1 fxLayoutAlign="start center">recruitify</h1>
  </div>

  <div *ngIf="url !== '/home' && url !== ''">
    Bienvenido Martin
  </div>
</header>

<main>

  <mat-card [ngClass]="{'main-nav': true}" *ngIf="url !== '/home' && url !== ''"><nav>
    <button routerLinkActive="active" [routerLink]="['/busquedas']" mat-button>BÚSQUEDAS</button>
    <button routerLinkActive="active" [routerLink]="['/entrevistas']" mat-button>ENTREVISTAS</button>
  </nav></mat-card>
  
  <router-outlet></router-outlet>

</main>  
