
header {
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
  margin: -22px -8px 0 -8px; 
  padding: 0.5rem 1rem 2.5rem 1rem;
  color: white; 
}

h1 {
  font-family: 'Roboto';
  font-weight: 300;
  img { height: 2em; margin-right: 0.5em; }
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0.5rem;
  .main-nav {
    margin-top: -2.5em;
    margin-bottom: 1em;
    nav {
      margin-bottom: 1em;
    
      .nav-button {
        &.active {
          color: rgb(0, 124, 248);
        }
      }
    }
  }

}  
